h1 {
  font-size: 24px;
  line-height: 100%;
}

.container {
  flex-grow: 1;
  padding: 20px;
}

@font-face {
  font-family: 'Minion Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Minion_Web_Pro_Regular.ttf') format('truetype');
}
